
.jss102 {
  color: #5A7184;
  margin: 8px 20px 12px 20px;
  padding: 0;
  font-size: 14px;
  text-align: center;
  line-height: 1.43;
  letter-spacing: normal;
}
.jss103 {
  color: #575656;
  margin: 8px auto -26px;
  display: flex;
  font-size: 14px;
  max-width: 220px;
  text-align: center;
  font-weight: bold;
  line-height: 18px;
}
.jss103 > span {
  flex: 1;
  display: block;
  flex-basis: auto;
}
.jss104 {
  color: #0FC543;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  line-height: 18px;
}
.jss105 {
  color: #959EAD;
  margin: 6px auto 0px;
  padding: 0 16px;
  font-size: 14px;
  text-align: center;
  line-height: 18px;
}
.jss106 {
  color: #0FC543;
  margin: 6px auto 0px;
  padding: 0 16px;
  font-size: 14px;
  text-align: center;
  line-height: 18px;
}
.jss107 {
  color: #FF8D1A;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
}
.jss108 {
  margin-right: 10px;
}
.jss110 {
  font-weight: 600;
}
.jss111 {
  margin: 0;
  padding: 16px;
  font-size: 14px;
  max-width: 320px;
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
  border-radius: 5px;
  letter-spacing: 0.4px;
}
.jss111 > .spinner-border-sm {
  width: 0.8rem;
  height: 0.8rem;
  border-width: 0.2em;
}
.jss112 {
  margin: auto!important;
  padding: 16px;
  font-size: 14px;
  max-width: 220px;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  letter-spacing: 0.4px;
}
.jss113 {
  color: #fff;
  border: none;
  flex-grow: 1;
  background: #ff9055;
  margin-left: 15px;
}
.jss114 {
  color: #999;
  border: none;
  flex-grow: 1;
  background: #ccc;
  margin-left: 15px;
}
.jss115 {
  margin: 24px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
@media (max-width:959.95px) {
  .jss115 {
    margin: 24px 24px 56px;
  }
}
.jss116 {
  overflow: hidden;
  min-height: 310px;
  padding-top: 16px;
  border-radius: 16px;
  padding-bottom: 24px;
}
@media (max-width:959.95px) {
  .jss116 {
    padding-bottom: 56px;
  }
}
.jss117 {
  width: 100px;
  height: 100px;
  text-align: center;
}
.jss118 {
  color: #FC5A5A;
}
.jss119 {
  top: 0;
  right: 0;
  cursor: pointer;
  padding: 8px;
  z-index: 1301;
  position: absolute;
  background: ;
}
@media (max-width:959.95px) {
  .jss119 {
    position: fixed;
  }
}
.jss120 {
  color: white;
}
.jss121 {
  padding: 0;
  overflow: hidden;
  min-width: 440px;
  min-height: 286px;
  padding-top: 24px!important;
  border-radius: 16px;
  padding-bottom: 24px;
}
@media (max-width:959.95px) {
  .jss121 {
    padding-bottom: 56px;
  }
}
.jss122 {
  width: 340px;
  position: relative;
  font-size: 14px;
  line-height: 18px;
}
.jss123 {
  width: 340px;
  border: 0;
  height: 56px;
  font-size: 22px;
  background: #fff;
  caret-color: transparent;
  font-family: monospace;
  padding-left: 38px;
  letter-spacing: 71px;
}
.jss123:focus {
  border: 0;
  outline: none;
}
.jss123:disabled {
  border: 0;
  outline: none;
  background: #fff;
}
@-webkit-keyframes jss124 {
  50% {
    color: transparent;
  }
}
.jss125 {
  top: 0;
  width: 73px;
  height: 56px;
  margin: 0px 6px;
  position: absolute;
  font-size: 0px;
  text-align: center;
  line-height: 46px;
  border-radius: 8px;
  pointer-events: none;
}
.jss125.blink.focus {
  animation: jss124 0.8s infinite;
  font-size: 18px;
  padding-top: 3px;
}
.jss125.valid.blink.focus {
  padding-left: 20px;
}
.jss125:nth-of-type(1) {
  left: 0;
}
.jss125:nth-of-type(2) {
  left: 72px;
}
.jss125:nth-of-type(3) {
  right: 72px;
}
.jss125:nth-of-type(4) {
  right: 0;
}
.jss125.focus.orange {
  border: 1px solid #FF8D1A;
}
.jss125.focus.grey {
  border: 1px solid #ddd;
}
.jss125.blink.focus.orange {
  border: 1px solid #FF8D1A;
}
.jss125.orange {
  border: 1px solid #FF8D1A;
}
.jss125.grey {
  border: 1px solid #ddd;
}
.jss125.isError {
  border: 1px solid #FC5A5A;
}
.jss125.isError.focus.orange {
  border: 1px solid #FC5A5A;
}
.jss125.isError.blink.focus.orange {
  border: 1px solid #FC5A5A;
}
.jss126 {
  opacity: 0;
  pointer-events: none;
}
.jss127 {
  color: #00B5CE;
  width: 100%;
  > span: [object Object];
  display: flex;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  justify-content: space-between;
}
.jss128 {
  padding: 0 12px;
  font-size: 20px;
  line-height: 26px;
}
.jss129 {
  color: #575656;
  margin: 12px auto 0px;
  display: flex;
  font-size: 14px;
  max-width: 320px;
  text-align: center;
  font-weight: bold;
  line-height: 18px;
}
.jss129 > span {
  flex: 1;
  display: block;
  flex-basis: auto;
}
@-webkit-keyframes jss130 {
  0% {
    left: 1%;
  }
  100% {
    left: 99%;
  }
}
.jss131 {
  width: 112px;
  height: 4px;
  margin: -25px 0 20px;
  position: relative;
  animation: jss130 3s infinite;
  background-color: #FF8D1A;
}
@media (max-width:959.95px) {
  .jss131 {
    margin: -16px 0 20px;
  }
}
